h1{ 
    color: blue;
    text-align: center;
}
p{
    color: black;
    text-align: center;
}
h2{
    color: rgba(124, 3, 118, 0.562);
    text-align: center;
}
ul{text-align: left;}
h3{color: red;
text-align: center;}